.addTodo {
  width: 100%;
  background: $VeryDarkDesaturatedBlue;
  height: 11%;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  border-radius: $borderRadius;
  position: relative;
  .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    margin: 20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $VeryDarkDesaturatedBlue;
    border: solid 1px $VeryDarkGrayishBlue2;
  }
  .todoInput {
    padding-right: 10px;
    height: 100%;
    width: 90%;
    background: $VeryDarkDesaturatedBlue;
    border: none;
    outline: none;
    border-radius: $borderRadius;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.1rem;
  }
}
