@import "./.checkBox";

.addTodo {
  width: 100%;
  background: $VeryDarkDesaturatedBlue;
  height: 11%;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  border-radius: $borderRadius;
  position: relative;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.336);
  }
  .todoInput {
    padding-right: 20px;
    height: 100%;
    width: 90%;
    background: $VeryDarkDesaturatedBlue;
    border: none;
    outline: none;
    border-radius: $borderRadius;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.1rem;
  }
}
